html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --width: 720px;
}
main {
  width: var(--width);
  margin: 100px auto 0;
}
footer {
  width: var(--width);
  margin: 50px auto;
  text-align: center;
}
